@{
//empty layouts?
}
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
@if (Model.Worker == null)
{
    <div class="job-form">
        <h4>@Model.Title</h4>
        <form id="claim-form">
            <input type="hidden" name="JobId" value="@Model.JobId" />
            <input type="hidden" name="Title" value="@Model.Title" />
            <input type="submit" value="Claim This Job" />
        </form>
    </div>
}
else
{
    <h4>This job has already been claimed.</h4>
}