@{
//empty layouts?
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>

<h4 class="jobs" data-request-url="@Url.Action("JobsList")">All Jobs:</h4>
<div id="result"></div>
<div class="claim-job"></div>